.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-img {
  border-radius: 50%;
  object-fit: cover;
  width: 18em;
  height: 18em;
  margin: -10em 1em 2em 1em;
  border: solid white;
}

.navbar-brand {
  font-weight: bold;
}

.user-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-header {
  text-align: center;
  padding: 0em 1em 0em 1em;
}

.user-second-div {
  padding: 1em 1em 1em 1em;
  margin-bottom: -2em;
}

.user-header-2 {
  margin-top: 1em;
  padding-bottom: 0.5em;
}

.chatbox-div {
  height: 500px;
}

.user-header-image {
  object-fit: fill;
  width: 100%;
}

.user-dog-image {
  object-fit: contain;
  width: 300px;
  height: 300px;
}

.user-header-image-div {
  max-width: 100%;
  height: 50%;
  overflow: hidden;
}

input[type="text"],
select {
  width: 100%;
  /* padding: 1em 1em 1em 1em; */
  margin: 1em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"],
select {
  width: 100%;
  margin: 1em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  width: 100%;
  margin: 1em 1em 0em 1em;
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  width: 25%;
  padding: 1em 1em 1em 1em;
  /* margin: 1em 1em 0em 1em; */
  display: flex;
  flex-direction: column;
}

.sign-up-div {
  margin: auto;
  margin-top: 5em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0em;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up-title-div {
  background-color: #c4e7cd;
  width: 100%;
  height: 100%;
  padding: 1em 1em 1em 1em;
  margin-top: -3em;
  text-align: center;
  display: inline-block;
}
